@model IEnumerable<CapApp.Models.Person>

@{
    ViewBag.Title = "Administracja: Wszystkie dane";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}














<div class="panel panel-default">
    <div class="panel-heading">
        <h3>Edytuj dowolną osobę</h3>
    </div>
    <div class="panel-body">
        <table class="table table-striped table-condensed table-bordered">
            <tr>
                <th>ID</th>
                <th>Nazwisko</th>
                <th>Numer telefonu</th>
                <th>Akcje</th>
            </tr>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.PersonId</td>
                    <td>@Html.ActionLink(item.Name, "Edit", new { item.PersonId })</td>
                    <td>@item.TelephoneNumber</td>
                    <td>
                        @using (Html.BeginForm("Delete", "Admin"))
                        {
                            @Html.Hidden("PersonId", item.PersonId)
                            <input type="submit" value="Usuń" />
                        }
                    </td>
                </tr>
            }
        </table>
    </div>
    <div class="panel-footer">
        @Html.ActionLink("Dodaj nową osobę", "Create", null, new { @class = "btn btn-default" })
    </div>
    
    <div class="panel-footer">
        @Html.ActionLink("Powrót do listy osób", "Index", null, new { @class = "btn btn-default" })
    </div>
</div>








